/* Footer.css */

.footer {
    display: flex;
    justify-content: space-around;
    align-items: start;
    background-color: rgba(23, 68, 31, 0.8);
    color: #fff;
    padding: 10px 0;
    margin-top: 50px;
  }
  
  .footer-logo {
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  
  .footer-logo img {
    width: 75%;
    margin-bottom: 10px;
  }

  
  .footer-links h3,
  .footer-contact h3 {
    font-size: 18px;
    padding-left:7px;
    margin-bottom: 10px;
    align-items: center;
  }
  
  .footer-links ul {
    list-style: none;
    padding-left: 7px;
  }
  
  .footer-links li {
    margin: 5px 0;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .footer-contact p {
    display: flex;
    flex-direction: column;
    
  }
  .footer-social p{
    display: flex;
    flex-direction: column;
  }
  
  .footer-social a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .footer-social a:hover {
    text-decoration: underline;
  }
  
  @media(max-width: 768px){
    .footer{
      display:flex;
      padding:10px;
      flex-direction:column;
    }
    .footer-logo img{
      margin:auto;
      padding: 10px;
    }
    .footer-social p {
      flex-direction: row;
    }
  }

  @media(max-width: 480px){
    .footer{
      display:flex;
      padding:20px;
      flex-direction:column;
    }
    .footer-logo img{
      margin:auto;
      padding: 10px;
    }
    .footer-social p {
      flex-direction: row;
    }
  }